<div class="col m-0 p-0 mb-1 loading-skeleton" style="height: 265px">
  <div class="card card-chart h-100">
    <div class="card-header">
      <div class="row d-flex align-items-center justify-content-between">
        <div class="col-sm-4 text-left">
          <h5 class="card-category">{{ title }}</h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="fa-3x d-flex justify-content-center align-items-center h-100">
        <i
          class="fas fa-circle-notch fa-spin"
          style="font-size: 4em !important"
        ></i>
      </div>
    </div>
  </div>
</div>
