<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="nav-item active" routerLink="/dashboard">
      <!--Dashboard-->
      <a>
        <i class="tim-icons icon-chart-pie-36"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="nav-item active" routerLink="/configuration">
      <!--Config-->
      <a>
        <i class="tim-icons icon-settings-gear-63"></i>
        <p>Configuración</p>
      </a>
    </li>
    <li routerLinkActive="nav-item active" routerLink="/meters">
      <!--Counter-->
      <a>
        <i class="tim-icons icon-vector"></i>
        <p>Contadores</p>
      </a>
    </li>
  </ul>
</div>
