<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="nav-item active" routerLink="/home">
      <!--Dashboard-->
      <a>
        <i class="tim-icons icon-chart-pie-36"></i>
        <p>Menú 1</p>
      </a>
    </li>
    <li routerLinkActive="nav-item active" routerLink="/home">
      <!--Config-->
      <a>
        <i class="tim-icons icon-settings-gear-63"></i>
        <p>Menú 2</p>
      </a>
    </li>
    <li routerLinkActive="nav-item active" routerLink="/home">
      <!--Counter-->
      <a>
        <i class="tim-icons icon-vector"></i>
        <p>Menú 3</p>
      </a>
    </li>
  </ul>
</div>
